[Unit]
Description=Logger daemon

[Service]
Type=simple
Environment="LD_LIBRARY_PATH=/usr/local/lib"
ExecStart=/usr/local/logger/logger
LimitNOFILE=65536
Restart=always
User=logger

[Install]
WantedBy=multi-user.target
